body {
    padding-top: 3rem;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.tag {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.tag:hover {
    background-color: #444 !important;
}
